In [6]:
import pandas as pd

In [7]:
df  = pd.read_csv('manager_jobs_rows.csv')
df.head()

,created_at,position,organization_name,organization_website,channel_email,channel_website,contract_type,job_location_type,location_one_location,location_recruiting_area,...,job_order_hash,location_name,location_zone_name,area_type,area_address,area_radius,area_states,location_zone,deleted,hybrid_description
0,2025-01-25 19:59:05.793928+00,NaN,Oh Hello Dog: DTLA Dog Daycare & Boarding,http://www.ohhellodog.com/,hello@ohhellodog.com,NaN,2,2,"1228 E 8th St, Los Angeles, CA 90021",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
1,2025-02-18 19:34:39.424644+00,NaN,Five Star Fire Protection,https://www.firesprinklers-extinguishers.com/,fivestarfireinvoices@gmail.com,NaN,2,2,"740 E Lambert Rd # A, La Habra, CA 90631",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
2,2025-03-13 17:59:19.621653+00,NaN,"Handsome Group - AV Design Build, Commercial A...",http://www.handsomegroup.net/,contact@handsomegroup.net,NaN,2,4,NaN,"Los Angeles: Downtown, 25 miles",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
3,2025-02-19 20:57:12.130742+00,NaN,60out Escape Rooms - Koreatown,https://www.60out.com/,mail@60out.com,NaN,2,2,"135 S Western Ave, Los Angeles, CA 90004",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
4,2025-01-25 20:07:04.761053+00,NaN,Blaze Pizza,https://locations.blazepizza.com/california/we...,info@blazepizza.com,https://www.fire.blazepizza.com/jobs/,2,2,"120 S, California Ave, West Covina, CA 91790",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [8]:
df['skills']

0        71:1, 71:2, 104:1, 104:2, 112:1, 112:2, 181:1,...
1                              71, 104, 112, 118. 190, 193
2                                  623, 624, 467, 494, 519
3                              57, 251, 269, 275, 276, 303
4        7:1, 7:2, 19:1, 19:2, 45:1, 45:2, 46:1, 46:2, ...
                               ...
10178    339, 340, 346, 347, 693, 695, 331, 335, 342, 1...
10179    1:1, 1:2, 18:1, 18:2, 2:1, 2:2, 5:1, 5:2, 19:1...
10180    71:1, 71:2, 104:1, 104:2, 112:1, 112:2, 115:1,...
10181                                             657, 658
10182                                                  590
Name: skills, Length: 10183, dtype: object

In [108]:
# for index, row in df.iterrows():
#     print(f"Row {index} type: {type(row['skills'])}")

In [9]:
def clean_skills_column(skills):
    skills_list = list(skills.split(','))
    skills_list = [skill.split(':')[0].strip().replace(".",",") for skill in skills_list]
    unique_skills = set(skills_list)
    
    return ', '.join(unique_skills)


df['skills'] = df['skills'].apply(clean_skills_column)
df['skills']

0                         71, 181, 185, 112, 184, 187, 104
1                              71, 118, 190, 193, 112, 104
2                                  494, 519, 624, 467, 623
3                              251, 276, 57, 303, 275, 269
4                                        19, 45, 7, 48, 46
                               ...
10178    339, 331, 115, 693, 695, 346, 342, 112, 163, 3...
10179      2, 27, 24, 23, 28, 57, 19, 16, 1, 25, 29, 5, 18
10180                71, 190, 193, 112, 163, 104, 158, 115
10181                                             657, 658
10182                                                  590
Name: skills, Length: 10183, dtype: object

In [10]:
df.replace("", pd.NA, inplace=True)
df.to_csv('manager_jobs_rows_cleaned_skills_latest.csv', index=False)