In [111]:
import pandas as pd

In [112]:
df  = pd.read_csv('manager_jobs_rows_latest.csv')
df.head()

,created_at,position,organization_name,organization_website,channel_email,channel_website,contract_type,job_location_type,location_one_location,location_recruiting_area,...,location_name,location_zone_name,area_type,area_address,area_radius,area_states,location_zone,deleted,hybrid_description,job_order_hash
0,2025-01-25 19:59:05.793928+00,NaN,Oh Hello Dog: DTLA Dog Daycare & Boarding,http://www.ohhellodog.com/,hello@ohhellodog.com,NaN,2,2,"1228 E 8th St, Los Angeles, CA 90021",NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,False,NaN,0-1-104
1,2025-02-18 19:34:39.424644+00,NaN,Five Star Fire Protection,https://www.firesprinklers-extinguishers.com/,fivestarfireinvoices@gmail.com,NaN,2,2,"740 E Lambert Rd # A, La Habra, CA 90631",NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,False,NaN,0-1-(51)
2,2025-02-19 20:57:12.130742+00,NaN,60out Escape Rooms - Koreatown,https://www.60out.com/,mail@60out.com,NaN,2,2,"135 S Western Ave, Los Angeles, CA 90004",NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,False,NaN,0-1-(7)
3,2025-06-17 17:34:32.705143+00,Testing,Emads testing org,https://test.gg,NaN,https://kobeyo.com,2,6,"Terminal 1 Departures, Las Vegas, NV, USA","Terminal 1 Departures, Las Vegas, NV, USA: 15 ...",...,vvdveve,NaN,4,"Terminal 1 Departures, Las Vegas, NV, USA",15.0,NaN,NaN,False,hgjkhvbhjkbk kjbkjbjkbkjb jbkjkbbkj kjbkj k b ...,1-0-(44)
4,2025-01-25 20:07:04.761053+00,NaN,Blaze Pizza,https://locations.blazepizza.com/california/we...,info@blazepizza.com,https://www.fire.blazepizza.com/jobs/,2,2,"120 S, California Ave, West Covina, CA 91790",NaN,...,NaN,NaN,2,NaN,NaN,NaN,NaN,False,NaN,0-1-7

In [113]:
df['skills']

0                        104, 112, 181, 184, 185, 187, 71
1                             104, 112, 118, 190, 193, 71
2                             251, 269, 275, 276, 303, 57
3                                                   146:2
4                                       19, 45, 46, 48, 7
                              ...
8228                                 1:1, 1:2, 18:1, 18:2
8229                                 1:1, 1:2, 18:1, 18:2
8230    339, 340, 346, 347, 693, 695, 331, 335, 342, 1...
8231    1:1, 1:2, 18:1, 18:2, 2:1, 2:2, 5:1, 5:2, 19:1...
8232    71:1, 71:2, 104:1, 104:2, 112:1, 112:2, 115:1,...
Name: skills, Length: 8233, dtype: object

In [108]:
# for index, row in df.iterrows():
#     print(f"Row {index} type: {type(row['skills'])}")

In [114]:
def clean_skills_column(skills):
    skills_list = list(skills.split(','))
    skills_list = [skill.split(':')[0].strip().replace(".",",") for skill in skills_list]
    unique_skills = set(skills_list)
    
    return ', '.join(unique_skills)


df['skills'] = df['skills'].apply(clean_skills_column)
df['skills']

0                        104, 185, 187, 71, 184, 112, 181
1                             104, 118, 71, 112, 193, 190
2                             269, 57, 276, 303, 251, 275
3                                                     146
4                                       7, 46, 19, 45, 48
                              ...
8228                                                1, 18
8229                                                1, 18
8230    115, 104, 158, 163, 108, 346, 335, 118, 695, 3...
8231      2, 27, 19, 28, 18, 5, 16, 24, 57, 23, 29, 1, 25
8232                158, 115, 104, 163, 71, 112, 193, 190
Name: skills, Length: 8233, dtype: object

In [115]:
df.to_csv('manager_jobs_rows_cleaned_skills_latest.csv', index=False)